.carousel a {
  opacity: 1;
  background-color: inherit;
}

.carousel a i {
  font-size: 2rem;
}

.next,
.prev {
  color: #000 !important;
}

.carousel-item img {
  width: 30%;
  height: auto;
}

.carousel-item {
  height: 30vh;
}

.carousel-inner {
  margin-bottom: 3rem;
}
